*, *::before, *::after{
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

a,button{
    transition: all 0.3s ease;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    background-color: white;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: block;
}

h1,h2,h3,h4,h5,h6,nav,p,ul,figure{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}

.placeholder{
    width: 100%;
    min-height: 460px;
}

.parallax-window{
    min-height: 460px;
    background: transparent;
    position: relative;
    background-image: url(img/simple-house-01.jpg);
    background-size: cover;
    background-position: center center;
}



.parallax-mirror{
    z-index: 999 !important;
}

.tm_header{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;
}

.row{
    display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.header_inner{
    padding: 40px 50px;
}

.cl{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.logo{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;    
}

.img_logo{
    display: inline-block;
    margin-right: 5px;
}

.logo_left_text{
    display: inline-block;
}

.title{
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 5px;
}

.subtitle{
    font-size: 1.1rem;
    font-weight: 400;
}

.right{
    text-align: right;
    margin-top: 30px;
}

.nav_ul{
    display: flex;
    justify-content: flex-end;
}

.nav_li{
    list-style: none;
    display: block;
    margin-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;
}

.link{
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
}

.link.active{
    border-bottom: 1px solid white;
}

.link:hover{
    border-bottom: 1px solid white;
    color: #ccc;
}

.welcome_section{
    margin: 60px auto;
    max-width: 655px;
    text-align: center;
}

.welcome_title{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.welcome_subtitle{
    color: #626364;
    line-height: 1.8;
}

.persons{
    margin-bottom: 20px;
}

.container_inner{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.girls{
    flex: 0 0 50%;
    width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.person{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.person_description{
    padding-left: 20px;
    padding-right: 20px;
}

.person_name{
    margin-top: 0;
    font-size: 1.6rem;
    font-weight: 300;
    color: #09c;
    margin-bottom: 5px;
}

.person_title{
    color: #c39;
    margin-bottom: 20px;
    line-height: 1.8;
}

.person_text{
    margin-bottom: 20px;
    color: #626364;
    line-height: 1.8;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.social_link{
    color: #626364;
    display: inline-block;
    border-radius: 1px;
    background-color: transparent;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 15px;
}

.icon:hover{
    color: #fff;
    background-color: #626364;
    border-radius: 10px;
}

.featured-img{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.placeholder-2{
   width: 100%;
    min-height: 220px;
}

.parallax-window-2{
   min-height: 220px;
    background: transparent;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.features{
    margin-top: 35px;
}

.column{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.feature_item{
    text-align: center;
    padding: 45px 20px;
}

.feature_icon{
    color: #9f9c9c;
    font-weight: 900;
    margin-bottom: 65px;
    font-size: 4rem;
}

.feature_text{
    margin-bottom: 35px;
    font-size: 1rem;
    color: #626364;
    line-height: 1.8;
}

.btn{
    display: inline-block;
    font-size: 1rem;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 25px;
}

.btn_blue{
    background-color: #2D99CC;
    color: white;
}

.btn_blue:hover{
    background-color: #008080;    
}

.btn_green{
    background-color: #319966;
    color: white;
}

.btn_green:hover{
    background-color: #228B22;
}

.btn_red{
    background-color: #993332;
    color: white;
}

.btn_red:hover{
    background-color: #752423;
}

.history_column{
    flex: 0 0 100%;
    max-width: 100%;
}

.history_inner{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history_img{
    max-width: 60%;
    height: auto;
}

.history_text{
    min-width: 480px;
    margin: 0 auto 0 35px;
}

.history_title{
    font-size: 1.6rem;
    font-weight: 300;
    color: #1A6692;
    margin-bottom: 30px;
}

.history_sutitle{
    color: #626364;
    line-height: 1.8;
}

.container_footer{
    margin-right: 20px;
    margin-left: 20px;
}

.footer{
    display: block;
    text-align: center;
    padding: 25px 15px;
    margin-top: 40px;
    border-top: 2px solid #ccc;
}


.footer_text{
    color: #626364;
    line-height: 1.8;
}
